/* Réinitialisation des marges et des paddings pour le tableau */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Styles pour les en-têtes (th) du tableau */
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  /* Styles pour les cellules (td) du tableau */
  td {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  /* Style alternatif pour les lignes */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  