/* Réinitialisation des marges et des paddings pour le tableau */

  
  /* Styles pour les en-têtes (th) du tableau */
  th {
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .header{
    background-color: #f2f2f2;
  }
  
  /* Styles pour les cellules (td) du tableau */
  td {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
  }
  
  /* Style alternatif pour les lignes */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table{
    overflow: hidden;
    width: 80%;
    margin: 50px 10%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .delete-btn{
    border-radius: 5px;
    margin: 5px 15px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
  }

  .update-btn{
    border-radius: 5px;
    margin: 5px 15px;
    padding: 5px 15px;
    cursor: pointer;

    background-color: rgb(99, 99, 231);
    color: white;
    border: none;
  }